@import '../../variables.css';
.sectionAbout {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

@media (max-width: 500px){
.sectionAbout{
    flex-direction: column-reverse;
}

}
.profileImg {
    border-radius: 100%;
    border: 10px;
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 450px;
}

.contactList {
    align-items: center;
    list-style: none;
    display: flex;
    padding: 0 0 0 0;
    height: 50px;
}

.contactList li {
    display: flex;
    margin: auto;

}

.contactList li a svg {
    display: flex;
    width: 40px;
    height: 100%;
    align-items: center;
    color: var(--bg-section);
}

.mainList {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-width: 320px;
}

.aboutText {
    font-size: 20px;
    padding-right: 20px;
}

.aboutText p {
    text-align: justify;
}

.openToWork
{
    border-radius: 5px;
    margin: 2px;
    width: 90%;
    background-color: var(--bg-card);
    color: var(--text-secondary);
    text-align: center;
}

.sectionAboutLeft{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 20px;
}