@import '../variables.css';

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 20%;
  justify-items: center;
  align-items: start;
  flex: 1;
  gap: 20px;
}

.categoryContainerMin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: center;

  width: 23vw;

  min-height: 225px;

  max-height: 225px;

  padding: 5px;
  margin: 2px;

  box-shadow: 0 0 6px var(--bg-card), 0 0 12px var(--bg-accent);
  border-radius: 10px;
  background-color: var(--bg-card);
  color: var(--text-secondary);
  font-size: 20px;

  transition: max-height 0.4s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  overflow: hidden;

}

:global(.skillbar) {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


:global(.skillbar-title) {
  width: auto !important;
  color: white !important;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 4px 0 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}


:global(.skillbar-bar) {
  flex: 1;
  border-radius: 0 4px 4px 0;
}

.categoryContainerMin.expanded {
  max-height: 600px;

  background-color: var(--bg-card);
  box-shadow: 0 0 12px var(--bg-accent);

  justify-content: flex-start;

  align-items: center;
}

.categoryImg {
  width: 100px;

  height: 100px;

  margin-bottom: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  object-fit: contain;
}

.categoryContainerMin p {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}



.skillList {
  width: 100%;
  margin-top: 10px;
}