#root {
  max-width: 150%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.resume{
  padding: 0.75rem 1.5rem; /* px-6 py-3 */
  background-color: #4f46e5; /* indigo-600 */
  color: white;
  border-radius: 0.5rem; /* rounded-lg */
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}