
:root {

  --bg-main: #212121;      
  --bg-section: #FFFFFF;    
  --bg-card: #0D7377;       
  --bg-navbar: #0284C7;    
  --bg-accent: #E2E8F0;    
  --bg-skill: #856eeb;     

  --text-primary: #14FFEC;  
  --text-secondary: #323232; 

  --accent-main: #0284C7;   
  --accent-hover: #0369A1;  

  --white: #FFFFFF;
}


