/* === Tech Minimalist === */
:root {
  /* Backgrounds */
  --bg-main: #212121;       /* light gray-white base */
  --bg-section: #FFFFFF;    /* white sections */
  --bg-card: #0D7377;       /* cool gray for cards */
  --bg-navbar: #0284C7;     /* cyan-blue navbar */
  --bg-accent: #E2E8F0;     /* subtle cool gray borders */
  --bg-skill: #856eeb;      /* pale blue progress bar */

  /* Text */
  --text-primary: #14FFEC;  /* deep navy text */
  --text-secondary: #323232; /* softer steel-gray text */

  /* Accent / Highlight */
  --accent-main: #0284C7;   /* main cyan accent */
  --accent-hover: #0369A1;  /* darker cyan hover */

  /* Neutral / Utility */
  --white: #FFFFFF;
}


